.kart {
  width: 25%;
  height: 420px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #444444;
  color: #ffffff;
  text-align: center;
  border-radius: 15px 15px;
  padding: 80px;
}
.kart::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  z-index: -1;
}

.kart::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  z-index: -1;
}

.kart img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
}
